/* Button */

.wp-block-buttons .wp-block-button.btn-primary .wp-block-button__link,
.wp-block-buttons.is-style-fill .wp-block-button.btn-primary .wp-block-button__link{
    background-color: #f9ba48;
    color: #333333;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid #f9ba48;
}

.wp-block-buttons .wp-block-button.btn-primary .wp-block-button__link:hover,
.wp-block-buttons.is-style-fill .wp-block-button.btn-primary .wp-block-button__link:hover{
    background-color: #ffffff;
    color: #333;
}

.wp-block-buttons .wp-block-button.btn-secondary .wp-block-button__link,
.wp-block-buttons.is-style-fill .wp-block-button.btn-secondary .wp-block-button__link{
    border-color: #000;
    background-color: #ffffff;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
}

.wp-block-buttons .wp-block-button.btn-secondary .wp-block-button__link:hover,
.wp-block-buttons.is-style-fill .wp-block-button.btn-secondary .wp-block-button__link:hover{
    background-color: #000;
    color: #ffffff;
}

/* Color */
.has-primary-background-color {
    background-color: #f9ba48;
}
 
.has-primary-color {
    color: #f9ba48;
}

.has-secondary-background-color {
    background-color: #000000;
}
 
.has-secondary-color {
    color: #000000;
}

.has-grayish-black-background-color {
    background-color: #333333;
}
 
.has-grayish-black-color {
    color: #333333;
}

.has-gray-background-color {
    background-color: #717171;
}
 
.has-gray-color {
    color: #717171;
}

.has-white-background-color {
    background-color: #ffffff;
}
 
.has-white-color {
    color: #ffffff;
}

.has-light-gray-background-color {
    background-color: #f2f2f2;
}
 
.has-light-gray-color {
    color: #f2f2f2;
}

/* Font size */

.has-small-font-size{
    font-size: 14px;
}
.has-regular-font-size{
    font-size: 16px;
}
.has-large-font-size{
    font-size: 36px;
}
.has-huge-font-size{
    font-size: 50px;
}

/* Input */
.input-control{
    min-width: 300px;
    height: 46px;
    border: 1px solid #333333;
    font-size: 14px;
}

.input-control:focus {
    outline: none;
    border-color: #f9ba48;
  }

/* Button */

.primary-btn {
    min-width: 160px;
    height: 46px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
}

/* Heading */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 700 !important;
}

.main-title, .related.products > h2{
    position: relative;
    display: block;
    margin: 50px 0 70px;
    text-align: center;
    text-transform: capitalize;
}

.main-title::after, .related.products > h2::after{
    position: absolute;
    content: '';
    height: 7px;
    bottom: -15px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 8%;
    background: #f9ba48;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

/* feature title */
.feature-title {
    background-color: #ffffff;
    color: #333;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

/* Post title */

.wp-block-latest-posts a {
    margin-top: 20px;
    display: block;
    color: #333;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px;
}
.wp-block-latest-posts a:hover{
    color: #f9ba48;
    cursor: pointer;
} 
.entry-header{
    background-image: url(http://sportgear.local/wp-content/uploads/2021/02/hero-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 50px 60px;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
}
.wp-block-latest-posts__post-excerpt{
    color: #717171;
    text-align: justify;
}

/* Breadcrumb */
p#breadcrumbs {
    margin-bottom: 0;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    top: 34%;
}

p#breadcrumbs a{
    font-weight: 700;
    color: #ffffff;
}

p#breadcrumbs a:hover{
    color: #000;
    cursor: pointer;
}